html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background-color:#ff1;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
}